# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env*.local

# pwa generated artifacts
/public/sw.js
/public/workbox-*.js
/public/sw.js.map
/public/workbox-*.js.map

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
next-env.d.ts
